body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.spacer{
    flex: 1;
}

.nav-addon{
    margin-right: 20px;
}

.site-logo{
    font-size: xx-large;
    margin: 0 20px;
}

.site-logo img{
    max-height: 45px;
    vertical-align: middle;
}

.my-table{
    margin-bottom: 100px;
}

.activeLink{
    background: #00acc1;
}

.nav-avatar{
    margin-top: 10px;
    max-height: 45px;
    max-width: 45px;
    border-radius: 50%;
}

.shop-category {
    border: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    margin: 10px;
    overflow: hidden;
    /*padding: 10px;*/
    width: 20vw;
    height: 20vw;
}
.shop-category b {
    display: block;
}
.shop-category picture {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vw;
    width: 20vw;
}
.shop-category img {
    max-height: 100%;
    max-width: 90%;
}