body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.auth-user-box{
    position: absolute;
    top: -70px;
    right: 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.auth-user-box img{
    border-radius: 50%;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}


.nonactiveBox{
    display: none;
}

.helper-box-exit{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    border: 1px solid #00bcd4;
    padding-block: 10px;
    padding-inline: 16px;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 1px 1px #00bcd4;
    background: white;
}

.helper-box-exit div {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.helper-box-exit div:nth-child(2){
    text-align: right;
    margin-top: 16px;
}


.helper-box-exit div:nth-child(2) button{
    margin-inline: 5px;
    background: #00bcd4;
    border: 1px solid #00bcd4;
    border-radius: 0.25rem;
    padding: 6px;
    transition: 0.2s;
    color: white;
}


.helper-box-exit div:nth-child(2) button:nth-child(2){
    background: white;
    border: 1px solid grey;
    color: black;
}

.helper-box-exit div:nth-child(2) button:hover{
    cursor: pointer;
    background: #01a2b5;
    color: white;
    border: 1px solid #00bcd4;
}


.spacer{
    flex: 1;
}

.nav-addon{
    margin-right: 20px;
}

.site-logo{
    font-size: xx-large;
    margin: 0 20px;
}

.site-logo img{
    max-height: 45px;
    vertical-align: middle;
}

.my-table{
    margin-bottom: 100px;
}

.activeLink{
    background: #00acc1;
}

.nav-avatar{
    margin-top: 10px;
    max-height: 45px;
    max-width: 45px;
    border-radius: 50%;
}

.shop-category,
.shop-product{
    border: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    margin: 10px;
    overflow: hidden;
    /*padding: 10px;*/
    width: 20vw;
    height: 20vw;
}
.shop-category b,
.shop-product b {
    display: block;
}
.shop-category picture,
.shop-product picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vw;
    width: 20vw;
}
.shop-category img,
.shop-product img{
    max-height: 100%;
    max-width: 90%;
}

.buttons-block{
    position: relative;
}

#exitBtn{
    position: absolute;
    top: 0;
    right: 0;
}

.cart-fab {
    width: 3vw !important;
    height: 3vw !important;
}

.cart-fab i {
    width: 2vw !important;
    height: 2vw !important;
    display: block;
    margin: auto;
    font-size: 2vw !important;
    line-height: 3vw !important;
}

.category-ribbon h4{
    font-size: 24px !important;
}

.shop-category-ribbon-item{
   display: inline;
    margin-inline: 16px;
}

.shop-category-ribbon-item img{
    width: 80px;
    height: 80px;
    transition: 0.2s;
}

.shop-category-ribbon-item img:hover{
    cursor: pointer;
    width: 100px;
    height: 100px;
}

/*///////
    CART
////*/

.cart-box{
    display: flex;
    flex-wrap: wrap;
}

.cart-item{
    display: flex;
    background: #00bcd4;
    margin-block: 10px;
    margin-inline: 16px;
    border: 1px solid black;
    border-radius: 0.25rem;
    width: 45%;
}
.cart-img-box {
    flex-basis: 30%;
}

.cart-img-box img{
    width: 120px;
    height: 120px;
}

.cart-item-info{
    flex-basis: 70%;
    position: relative;
}

.product-name{
    padding-top: 20px;
    padding-inline: 12px;
    font-size: 24px;
    color: white;
}

.remove-box{
    position: absolute;
    top: 10px;
    right: 10px;

}

.counter-box{
    display: flex;
}

.quantity-box{
    flex-basis: 60%;
    display: flex;
}

.quantity-box div:nth-child(2n+1){
    padding-inline: 12px;
    padding-top: 20px;
}

.quantity-box div:nth-child(2){
    color: white;
    font-size: 18px;
    padding-top: 18px;
}

.price-box{
    flex-basis: 40%;
    text-align: right;
    padding-top: 18px;
    font-size: 18px;
    color: white;
    padding-inline: 16px;
}

.total-price-box{
    text-align: right;
    font-size: 32px;
    padding-inline: 16px;
    margin-bottom: 50px;
}

.empty-cart{
    font-size: 32px;
}